$font-family: "Poppins", sans-serif;
$color-light: #ffffff;
$color-main-heading: #828282;
$color-main-text: #0d4d14;
$color-btn-hero: #48924f;
$color-btn: #6cb981;
$color-input: #9fdea9;
$color-bg-footer: #324b29;

body {
  font-family: $font-family;
  margin: 0 auto;
  max-width: 1900px;
}
.btn {
  padding: 21px 53px;
  border-radius: 35px;
}
.hero {
  background-image: url("../images/hero-background.png");
  color: $color-light;
  text-align: center;
  height: 840px;
  .header {
    display: flex;
    justify-content: center;
    padding-left: 3px;
    h1 {
      margin: 0;
      font-weight: 800;
      font-size: 60px;
      padding-top: 48px;
    }
    img {
      padding-right: 15px;
      width: 78px;
      height: 84px;
      padding-top: 64px;
    }
  }
  p {
    margin-top: -28px;
    font-size: 27px;
    font-weight: 800;
    letter-spacing: 0.26em;
    padding-left: 105px;
  }
  a {
    color: $color-light;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 59px;
    padding: 19px 47px;
    text-decoration: none;
    margin-top: 17px;
    display: inline-block;
    margin-left: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  h2 {
    font-weight: 900;
    font-size: 144px;
    line-height: 134px;
    width: 74%;
    margin-top: 18px;
    margin-bottom: 100px;
    padding-left: 211px;
  }
  .btn {
    color: $color-btn-hero;
    background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #f9f9f9 100%);
    box-shadow: 0px 10px 50px rgba(16, 51, 30, 0.5);

    margin-top: 0;
  }
}
@mixin section-heading {
  font-weight: 800;
  font-size: 64px;
  line-height: 96px;
  color: $color-main-heading;
  text-align: center;
  max-width: 16%;
  margin: 0 auto;
  margin-top: 69px;
  padding-left: 4px;
  text-transform: capitalize;
}
@mixin container {
  display: flex;
  justify-content: center;
}
@mixin section-btn {
  display: inline-block;
  box-shadow: 0px 16px 30px rgba(50, 175, 100, 0.15);
  color: $color-btn;
  background-color: $color-light;
  margin: 58px auto 10px;
}
.services {
  text-align: center;
  h2 {
    @include section-heading();
    img {
      display: block;
      text-align: center;
      margin-top: -48px;
    }
  }
  .card-container {
    @include container();
    div {
      color: $color-main-text;
      max-width: 20%;
      box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
      border-radius: 30px;
      margin: 10px;
      img {
        width: 100%;
      }
      h3 {
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        padding-left: 29px;
        padding-top: 21px;
        margin: 0;
        text-align: left;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 0 30px;
        margin-top: 5px;
        text-align: left;
      }
    }
  }
  .btn {
    @include section-btn();
  }
}

.about {
  h2 {
    @include section-heading();
    img {
      display: block;
      text-align: center;
      margin-top: -48px;
      margin-left: 250px;
    }
  }
  .about-container {
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(1098.jpg);
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-image: url("../images/about-background.png");
  }
  .about-content {
    @include container();
    padding-top: 140px;
    p {
      color: $color-light;
      max-width: 19%;
      margin: 24px;
      padding-left: 10px;
      padding-right: 4px;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .btn {
    @include section-btn();
    margin-top: 17px;
    margin-bottom: 50px;
  }
}

.testymonials {
  text-align: center;
  h2 {
    @include section-heading();
    max-width: 24%;
  }
  .testymonials-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 64%;
    margin: 65px auto;
    margin-bottom: 40px;
    .grid-el {
      display: flex;
      background: $color-light;
      border: 1px solid $color-btn;
      border-radius: 40px;
      margin-bottom: 56px;
      margin-right: 24px;
      margin-left: 23px;
      img {
        width: 80px;
        height: 80px;
        display: block;
        margin-top: 24px;
        margin-left: 30px;
      }
      div {
        margin-bottom: 4px;
        h3 {
          color: $color-btn;
          font-size: 18px;
          line-height: 22px;
          text-align: left;
          padding-top: 17px;
          padding-left: 12px;
        }
        p {
          color: #0d4c14;
          font-size: 14px;
          line-height: 22px;
          padding-right: 31px;
          padding-left: 12px;
          margin-bottom: 0;
          text-align: left;
        }
        .star {
          margin-top: 0;
          padding-bottom: 20px;
        }
      }
    }
  }
}
.contact {
  h3 {
    @include section-heading();
    max-width: 22%;
    margin-top: 40px;
  }
  .contact-container {
    @include container();
    justify-content: space-evenly;
    max-width: 50%;
    margin: 66px auto 50px;
    input {
      border-radius: 61px;
      background-color: $color-input;
      width: 355px;
      height: 33px;
      margin-bottom: 14px;
      padding: 10px;
      font-size: 20px;
      border-color: #4db96b;
    }
    input[type="submit"] {
      width: 166px;
      height: 54px;
      margin: 0 auto;
      display: block;
      background-color: #fcfcfc;
    }
    a,
    p {
      font-size: 14px;
      text-decoration: none;
      color: #333333;
    }
    .contact-info {
      margin-top: 27px;
      margin-bottom: 17px;
      img {
        margin-left: -12px;
      }
      div {
        margin-bottom: 20px;
      }
      p {
        margin: 0;
        margin-left: -10px;
      }
      p:before {
        content: url("../images/adress.png");
      }
    }
  }
}

footer {
  div {
    background-color: $color-bg-footer;
    height: 145px;
    margin: 0;
  }
}

// media queries

@media only screen and (max-width: 1860px) {
  .about h2 {
    max-width: 19%;
  }
}
@media only screen and (max-width: 1570px) {
  .about h2 {
    max-width: 22%;
  }
}

@media only screen and (max-width: 1500px) {
  body {
    max-width: 1400px;
  }
  .hero h2 {
    font-size: 100px;
    width: 100%;
    padding-left: 0;
  }
  .services h2 {
    max-width: 36%;
    // margin-left: 79px;
  }
  .services h2 img {
    display: none;
  }
  .services .card-container div {
    max-width: 30%;
  }
  .about h2 {
    max-width: 50%;
  }
  .about h2 img {
    display: none;
  }
  .about .about-content p {
    max-width: 30%;
  }
  .testymonials h2 {
    max-width: 100%;
  }
  .testymonials .testymonials-container {
    max-width: 100%;
  }
  .contact h3 {
    max-width: 100%;
  }
  .contact .contact-container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .about .about-content p {
    font-size: 14px;
  }
  .services .card-container {
    flex-direction: column;
  }
  .services .card-container div {
    max-width: 50%;
    margin: 10px auto;
  }
  .about .about-content {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .hero {
    height: 600px;
  }
  .hero h2 {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 50px;
  }
  .services h2 {
    margin-top: 20px;
  }
  .services .card-container div {
    max-width: 80%;
  }
  .about .about-content {
    flex-direction: column;
  }
  .about .about-content p {
    font-size: 10px;
    max-width: 80%;
    margin: 10px auto;
    border: 1px solid $color-btn;
    border-radius: 30px;
    padding: 10px;
  }
  .testymonials h2 {
    margin-top: 20px;
  }
  .testymonials .testymonials-container {
    margin: 27px auto;
    grid-template-columns: 1fr;
  }
  .contact .contact-container {
    justify-content: space-around;
  }
  .contact .contact-container input {
    width: 300px;
  }
}
@media only screen and (max-width: 650px) {
  .contact .contact-container input {
    width: 200px;
    font-size: 10px;
  }
  .contact .contact-container a,
  .contact .contact-container p {
    font-size: 10px;
  }
}
@media only screen and (max-width: 550px) {
  .hero .header img {
    width: 50px;
    height: 50px;
  }
  .hero .header h1 {
    font-size: 40px;
  }
  .hero p {
    font-size: 20px;
  }
  .hero h2 {
    font-size: 60px;
  }
  .services h2,
  .about h2,
  .testymonials h2,
  .contact h3 {
    font-size: 40px;
  }
  .about h2,
  .contact h3 {
    margin-top: 10px;
  }
  .testymonials .testymonials-container .grid-el {
    margin-bottom: 10px;
  }
  .contact .contact-container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 5px;
  }
  .contact .contact-container .contact-info {
    margin-top: 0;
  }
  footer div {
    height: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .hero {
    height: 450px;
  }
  .hero .header img {
    display: none;
  }
  .hero .header h1 {
    font-size: 30px;
  }
  .hero p {
    font-size: 15px;
    margin-top: -16px;
    padding-left: 31px;
  }
  .hero h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .services h2,
  .about h2,
  .testymonials h2,
  .contact h3 {
    font-size: 35px;
  }
  .about h2,
  .contact h3 {
    margin-top: 10px;
  }
  .testymonials .testymonials-container .grid-el img {
    display: none;
  }
}
